<div class="flex justify-content-center pt-5 max-h-screen overflow-hidden">
  <div class="grid justify-content-center w-full md:w-8 lg:w-6 xl:w-5">
    <div
      class="col-12"
      style="
        border-radius: 2rem;
        padding: 0.3rem;
        background: linear-gradient(
          180deg,
          var(--primary-color) 10%,
          rgba(33, 150, 243, 0) 30%
        );
      "
    >
      <div
        class="h-full w-full py-6 px-5"
        style="
          border-radius: 2rem;
          background: linear-gradient(
            180deg,
            var(--surface-50) 40%,
            var(--surface-0)
          );
        "
      >
        <div class="text-center mb-4">
          <h2 class="change-password-title">
            <i class="pi pi-lock mr-2"></i>Quên mật khẩu
          </h2>
          <img
            src="assets/images/logo.png"
            alt="Logo"
            height="60"
            class="mb-3"
          />
        </div>

        <form
          class="w-full md:w-10 mx-auto"
          [formGroup]="forgetForm"
          (submit)="forget()"
        >
          <label for="newPassword" class="block text-900 text-lg mb-2 mt-3"
            >Mật khẩu mới</label
          >
          <p-password
            id="newPassword"
            formControlName="password"
            placeholder="Nhập mật khẩu mới"
            styleClass="w-full"
            [toggleMask]="true"
          ></p-password>
          <div
            *ngIf="submitted  && (forgetForm.controls['password'].errors?.['invalidPassword'])"
            class="invalid-feedback mt-2"
            style="color: red"
          >
            Mật khẩu không hợp lệ, mật khẩu tối thiểu 6 kí tự gồm chữ và số !
          </div>

          <label for="confirmPassword" class="block text-900 text-lg mb-2 mt-3"
            >Xác nhận mật khẩu mới</label
          >
          <p-password
            id="confirmPassword"
            placeholder="Xác nhận mật khẩu mới"
            styleClass="w-full"
            formControlName="confirmPassword"
            [toggleMask]="true"
            [feedback]="false"
          ></p-password>
          <div
            *ngIf="submitted  && (forgetForm.controls['confirmPassword'].errors?.['required'] || forgetForm.controls['confirmPassword'].errors?.['whitespace']
        )"
            class="invalid-feedback mt-2"
            style="color: red"
          >
            Vui lòng nhập lại mật khẩu!
          </div>
          <div
            *ngIf="
              (forgetForm.controls['confirmPassword'].touched) &&
              forgetForm.errors?.['passwordNotMatch']
            "
            class="invalid-feedback mt-2"
            style="color: red"
          >
            Mật khẩu không khớp
          </div>
          <div *ngIf="error" class="invalid-feedback mt-1 p-2">
            <div style="color: red">{{ error }}</div>
          </div>
          <div class="flex justify-content-center mt-4">
            <p-button
              label="Xác nhận"
              type="submit"
              styleClass="p-button-primary"
            ></p-button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
