* {
    font-size: 16px !important;
}

::ng-deep .p-password input {
    width: 100%;
    padding: 1rem;
}

::ng-deep .p-password {
    position: relative;
}

::ng-deep .p-password .p-password-input {
    padding-right: 2.5rem;
}

::ng-deep .p-password .p-icon-wrapper {
    position: absolute;
    top: 50%;
    right: 1rem;
    transform: translateY(-50%);
}

.change-password-title {
    font-size: 24px !important;
    color: var(--primary-color);
}
::ng-deep .p-button {
    cursor: pointer;

    .p-button-label {
        font-weight: 500 !important;
    }
}