.combo-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 12px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}


.image-upload-row {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.combo-img-preview {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 0.5rem;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.action-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.upload-icon-button ::ng-deep .p-button {
    border: none;
    background-color: transparent;
    color: #2196f3;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box {
    padding: 0.5rem;
    border-radius: 10px;
    cursor: pointer;
}

.bg-edit {
    background-color: #e3f2fd;
}

.bg-delete {
    background-color: #ffebee;
}

.text-edit {
    color: #1976d2;
    font-size: 1.2rem;
}

.text-delete {
    color: #e53935;
    font-size: 1.2rem;
}

.food-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 0.75rem;
}

.foods-select,
.foods-quantity {
    width: 220px !important;
}

::ng-deep .p-inputnumber {
    width: 100% !important;
}
